<div class="col-xs-12">
	<label for="dev-theme">Development Theme</label>
	<select id="staging-theme" class="form-control" ng-options="(value.id | num) as value.name for (key , value) in deploymentOptions" ng-model="shopifyDeployment.configs.dev"></select>
	<label for="staging-theme">Staging Theme</label>
	<select id="staging-theme" class="form-control" ng-options="(value.id | num) as value.name for (key , value) in deploymentOptions" ng-model="shopifyDeployment.configs.stage"></select>
	<label for="staging-theme">Published Theme</label>
	<select id="staging-theme" class="form-control" ng-options="(value.id | num) as value.name for (key , value) in deploymentOptions" ng-model="shopifyDeployment.configs.deploy"></select>
	<button type="button" class="btn btn-primary" ng-click="saveThemeConfigurations()">Save</button>
</div>